.settings/
bin/
build/
.project
.classpath
*.iml
*.iws
*.ipr
.gradle/
out/
.idea/
gradle.properties
*.gpg
.vscode/settings.json
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
